@font-face {
	font-family: Montserrat;
	src: url(../app/fonts/Montserrat/Montserrat-Bold.ttf);
	font-weight: bold;
}

@font-face {
	font-family: Hind;
	src: url(../app/fonts/Hind/Hind-Regular.ttf);
}

:root {
	--text-font: Hind, sans-serif;
	--title-font: Montserrat, sans-serif;
}
