@font-face {
	font-family: Montserrat;
	src: url(../../fonts/Montserrat/Montserrat-Bold.ttf);
}

@font-face {
	font-family: Hindi;
	src: url(../../fonts/Hind/Hind-Regular.ttf);
}

:root {
	--text-font: Hindi, sans-serif;
	--title-font: Montserrat, sans-serif;
}
